body {
	font-family: 'Lato', sans-serif;
	color: #272727;
	font-weight: 300;
}

.featured {
	color: #000;
}

.name-bold {
	font-weight: 700;
    font-size: 60px;
}


.title-logo {
	margin-top: 20px;
    width: 50%;
}
